:root {
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* FontS
font-family: 'Josefin Sans', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Vollkorn', serif;
*/
body {
  background-color:#383838;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(images/waterfall-620313_1920.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
}
header,
background-image {
  height: 30vh;
}

/*font header styles*/
h1 {
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  text-shadow: 2px 2px 5px black;
  color: lime;
  border-radius: 5px;
}

h2 {
  font-family: 'Mukta', sans-serif;
  text-shadow: 1px 1px 3px lime;
  font-size: 14px;
}
h3 {
  
  font-weight: bold;
  color: lime;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
}
/* menu styles */
.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
.menu-wrap .toggler {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
  width: 20px;
  height: 20px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: lime;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*hamburger line*/
.menu-wrap .hamburger > div {
  position:relative;
  flex: none;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* top and bottom lines */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;

}
/* Moves line down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}
/* Toggler animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* turn Lines into x */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/* show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
/* menu   */
.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  background: lime;
  border-radius: 50%;
  width: 300vw;
  height: 500vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 24px;
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/*upper-main section*/
.upper-main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 10vh;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px;
}

.emergency {
  font-weight: bold;
  font-size: 14pxpx;
  text-shadow: 1px 1px 3px lime;
}
/* Font class */
.font {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-family: 'Vollkorn', serif;
  color: #fff;
  background-image: url(images/light-bulb-3104355_1920.jpg);
  background-size: cover;
  
}
/* Heading for font class*/
.font-about {
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* Font awesome icons*/


.font-awesome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 10px;
  font-size: 20px;
  color: lime;
}


.fa,
.first,
.fab,
.fa1,
.fas {
  padding: 15px;
  background-color: black;
  border-radius: 20px;
  
}

/* background img opacity*/

.lightbulb {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

.lightbulb::after {
  content: '';
  background: url(images/light-bulb-2631864_640.jpg);
  background-size: cover;
  border: 3px solid lime;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
/*Cards background img */
.lightbulb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  background-size: contain;
  text-align: center;
  font-family: 'Vollkorn', serif;
  color: #fff;
  display:none;
}
.card:hover{
  transform: scale(1.2);
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  background-size: contain;
  text-align: center;
  font-family: 'Vollkorn', serif;
  color: #fff;
  display:none;
}
.card2:hover{
  transform: scale(1.2);
}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  background-size: contain;
  text-align: center;
  font-family: 'Vollkorn', serif;
  color: #fff;
  display:none;
}
.card3:hover{
  transform: scale(1.2);
}
/* Contact Now Buttons */
p button {
  margin: 5px;
  padding: 4px;
  border-radius: 5px;
  color: lime;
  background-color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease-in;
}

p button:hover {
  background-color: #fff;
}
/* FORMS*/
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/troy-bridges-SuzmwVqHJdo-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  height: 50vh;
  border-bottom: 2px solid #fff;
}


label {
  color: lime;
  font-size: 18px;
  text-shadow: 1px 1px 3px black;

}

input {
  border: 2px solid black;
  border-radius: 5px;
  width: 50%;
}
.textarea{
  display:none;
}
#overview{
 display:none;
}
#mail {
  margin-left: 31px;
}

.submit {
  margin: 20px;
  padding: 15px;
  background-color: black;
  color: lime;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease-in;
}

.submit:hover {
  background-color: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  line-height: 1.5;
  font-size: 20px;
  color: #fff;
  background-color: lime;
  text-shadow: 1px 1px 3px black;
}

/* Media queries*/

@media  only screen and (min-width:300px){
  h1{
   font-size: 24px;
 }
  h2{
    font-size:20px;
  }
  h3{
    font-size: 18px;
  }
  .card {
    display:revert;
     }
  .card2 {
    display: revert;
  }
  .card3{
    display: revert;
  }
  .textarea{
    display: revert;
  }
  #overview{
    display: revert;
  }
}

@media  only screen and (min-width:500px){
  h1{
    display:flex;
    justify-content: center;
    font-size: 40px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 24px;
  }
  .emergency{
    font-size: 24px;
  }
  .font-awesome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 30px;
  }  
  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .social{
    display:flex;
    flex-direction: column;
  }

}
@media  only screen and (min-width:905px){
  .lightbulb {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  }
}

/*
@media only screen and (min-width: 200px)  {
  header {
    display: flex;
  }
  .menu-wrap {
    position: relative;
  }
  h2 {
    line-height: 1;
    font-size: 18px;
    padding-left: 3px;
  }
  .font-awesome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 18px;
  }
  .lightbulb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }
  .social {
    display: flex;
    flex-direction: column;
    justify-self: right;
  }
}
@media only screen and (min-width:915px){
  .font-awesome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 24px;
  }
  .lightbulb {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  }
  .menu-wrap {
    position: absolute;
  }
  }
  
  */

